html,
body {
  --utrecht-space-around: 1;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.utrecht-page-content--modifier {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.utrecht-main-wrapper {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

.utrecht-language-switcher {
  display: flex;
}

[dir="ltr"] .utrecht-language-switcher_item {
  margin-inline-start: 20px;
}

[dir="rtl"] .utrecht-language-switcher_item {
  margin-inline-end: 20px;
}

.utrecht-language-switcher_item::after {
  content: " | ";
}

[dir="ltr"] .utrecht-language-switcher_item::after {
  margin-inline-start: 10px;
}

[dir="rtl"] .utrecht-language-switcher_item::after {
  margin-inline-end: 10px;
}

.utrecht-language-switcher_item:last-child::after {
  content: none;
}

.utrecht-language-switcher_item--current {
  --utrecht-link-color: black;
  --utrecht-link-visited-color: black;

  font-weight: 700;
}

.utrecht-nav__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.utrecht-search-bar__dropdown {
  background-color: #fff;
  border: 1px solid #c00;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.utrecht-spotlight-section > :first-child {
  --utrecht-space-around: 0;
}

.utrecht-multi-columns-button {
  display: flex;
  flex-wrap: nowrap;
}

.utrecht-digid-button svg {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.utrecht-multi-columns-button__item {
  --utrecht-paragraph-margin-block-end: 16px;

  padding-block: 20px;
  padding-inline: 20px;
  width: 50%;
}
.utrecht-multi-columns-button__item:first-child {
  border-right: 1px solid #e5e5e5;
}

.utrecht-multi-columns-button__item:last-child {
  border-left: 1px solid #e5e5e5;
}

.utrecht-multi-columns-button__button {
  --utrecht-button-inline-size: 100%;

  margin-block-end: 16px;
}

.utrecht-logo-button_container {
  display: flex;
  gap: 12px;
  margin-block-end: 16px;
}

table * p {
  --utrecht-paragraph-margin-block-start: 0;
}

th {
  --utrecht-table-header-cell-font-weight: var(--utrecht-table-header-font-weight);

  border-block-end-color: var(--utrecht-table-header-border-block-end-color, transparent);
  border-block-end-style: solid;
  border-block-end-width: var(--utrecht-table-header-border-block-end-width, 0);
  padding-block-end: var(--utrecht-table-cell-padding-block-end, 0);
  padding-block-start: var(--utrecht-table-cell-padding-block-start, 0);
  padding-inline-end: var(--utrecht-table-cell-padding-inline-end, 0);
  padding-inline-start: var(--utrecht-table-cell-padding-inline-start, 0);
}

th > p {
  --utrecht-paragraph-font-weight: var(--utrecht-table-header-font-weight);
}
