html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  --utrecht-space-around: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.utrecht-page-content--modifier {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.utrecht-main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--colors-secondary-bg);
}

[dir="ltr"] .utrecht-language-switcher_item {
  margin-inline-start: 20px;
}

[dir="rtl"] .utrecht-language-switcher_item {
  margin-inline-end: 20px;
}

.utrecht-language-switcher_item::after {
  content: " | ";
}

[dir="ltr"] .utrecht-language-switcher_item::after {
  margin-inline-start: 10px;
}

[dir="rtl"] .utrecht-language-switcher_item::after {
  margin-inline-end: 10px;
}

.utrecht-language-switcher_item:last-child::after {
  content: none;
}

.utrecht-language-switcher_item--current {
  --utrecht-link-color: black;
  --utrecht-link-visited-color: black;
  font-weight: 700;
}

.nav__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.utrecht-search-bar__dropdown {
  position: absolute;
  width: 100%;
  z-index: 100;
  border: 1px solid #c00;
  background-color: #fff;
}

.utrecht-spotlight-section > :first-child {
  --utrecht-space-around: 0;
}

.utrecht-multi-columns-button {
  display: flex;
  flex-wrap: nowrap;
}

.utrecht-digid-button svg {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.utrecht-multi-columns-button__item {
  --utrecht-paragraph-margin-block-end: 16px;
  width: 50%;
  padding-block: 20px;
  padding-inline: 20px;
}
.utrecht-multi-columns-button__item:first-child {
  border-right: 1px solid #e5e5e5;
}

.utrecht-multi-columns-button__item:last-child {
  border-left: 1px solid #e5e5e5;
}

.utrecht-multi-columns-button__button {
  --utrecht-button-inline-size: 100%;
  margin-block-end: 16px;
}

.utrecht-logo-button_container {
  display: flex;
  gap: 12px;
  margin-block-end: 16px;
}
