.utrecht-language-switcher {
  --utrecht-language-switcher-padding-block-start: var(--utrecht-space-block-sm);
  --utrecht-language-switcher-padding-block-end: var(--utrecht-space-block-sm);
  --utrecht-language-switcher-item-ltr-margin-inline-start: var(--utrecht-space-inline-lg);
  --utrecht-language-switcher-item-rtl-margin-inline-start: var(--utrecht-space-inline-lg);
  --utrecht-language-switcher-link-ltr-margin-inline-start: var(--utrecht-space-inline-sm);
  --utrecht-language-switcher-link-rtl-margin-inline-start: var(--utrecht-space-inline-sm);
  --utrecht-language-switcher-link-current-color: currentColor;
  --utrecht-language-switcher-link-visited-current-color: currentColor;
  --utrecht-language-switcher-link-visited-current-font-weight: var(--utrecht-typography-weight-scale-bold-font-weight);
  --utrecht-language-switcher-skeleton-body-padding-block-start: var(--utrecht-space-block-sm);
  --utrecht-language-switcher-skeleton-body-padding-block-end: var(--utrecht-space-block-sm);

  display: flex;
  justify-content: flex-end;
  padding-block-end: var(--utrecht-language-switcher-padding-block-end);
  padding-block-start: var(--utrecht-language-switcher-padding-block-start);
}

[dir="ltr"] .utrecht-language-switcher__item {
  margin-inline-start: var(--utrecht-language-switcher-item-ltr-margin-inline-start);
}

[dir="rtl"] .utrecht-language-switcher__item {
  margin-inline-end: var(--utrecht-language-switcher-item-rtl-margin-inline-start);
}

.utrecht-language-switcher__item::after {
  content: " | ";
}

.utrecht-language-switcher__item:last-child::after {
  content: none;
}

[dir="rtl"] .utrecht-language-switcher__link::after {
  content: "";
  margin-inline-end: var(--utrecht-language-switcher-link-rtl-margin-inline-start);
}

[dir="ltr"] .utrecht-language-switcher__link::after {
  content: "";
  margin-inline-start: var(--utrecht-language-switcher-link-ltr-margin-inline-start);
}

.utrecht-language-switcher__link--current {
  --utrecht-link-color: var(--utrecht-language-switcher-link-current-color);
  --utrecht-link-visited-color: var(--utrecht-language-switcher-link-visited-current-color);

  font-weight: var(--utrecht-language-switcher-link-visited-current-font-weight);
}

.utrecht-language-switcher__skeleton-body {
  justify-content: flex-end;
  padding-block-end: var(--utrecht-language-switcher-skeleton-body-padding-block-end);
  padding-block-start: var(--utrecht-language-switcher-skeleton-body-padding-block-start);
}
