.utrecht-button-link--magenta {
  --utrecht-button-primary-action-focus-border-color: var(--utrecht-button-link-magenta-focus-border-color);
  --utrecht-button-primary-action-active-border-color: var(--utrecht-button-link-magenta-active-border-color);
  --utrecht-button-primary-action-active-color: var(--utrecht-button-link-magenta-active-color);
  --utrecht-button-primary-action-background-color: var(--utrecht-button-link-magenta-background-color);
  --utrecht-button-primary-action-active-background-color: var(--utrecht-button-link-magenta-active-background-color);
  --utrecht-button-primary-action-hover-background-color: var(--utrecht-button-link-magenta-hover-background-color);
  --utrecht-button-primary-action-focus-background-color: var(--utrecht-button-link-magenta-focus-background-color);
  --utrecht-button-primary-action-pressed-background-color: var(--utrecht-button-link-magenta-pressed-background-color);
}
