.utrecht-footer__layout-wrapper {
  --utrecht-footer-list-item-6-width: 100%;
  --utrecht-footer-list-item-12-width: 100%;
  --utrecht-footer-social-media-width: 100%;
  --utrecht-footer-social-media-justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
}

.utrecht-footer__list-item--6 {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: var(--utrecht-footer-list-item-6-width);
}

.utrecht-footer__list-item--12 {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: var(--utrecht-footer-list-item-12-width);
}

.utrecht-footer__social-media {
  display: flex;
  flex: 0 0 auto;
  width: var(--utrecht-footer-social-media-width);
  justify-content: var(--utrecht-footer-social-media-justify-content);
}

.utrecht-footer__content {
  display: flex;
  flex: 0 0 auto;
  width: 70%;
  justify-content: flex-start;
  flex-direction: column;
}

.utrecht-footer__link {
  margin-block-end: 10px;
}

.utrecht-footer__list-title {
  --utrecht-heading-3-margin-block-end: 14px;
}

@media (min-width: 768px) {
  .utrecht-footer__layout-wrapper {
    --utrecht-footer-list-item-6-width: 50%;
    --utrecht-footer-social-media-width: 30%;
    --utrecht-footer-social-media-justify-content: flex-end;
  }
}
