.utrecht-navigation__list {
  --utrecht-navigation-list-display: flex;
  --utrecht-navigation-list-mobile-inline-size: 100%;

  display: var(--utrecht-navigation-list-display);
  inline-size: var(--utrecht-navigation-list-inline-size);
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-block-end: var(--utrecht-navigation-list-padding-block-end);
  padding-block-start: var(--utrecht-navigation-list-padding-block-start);
  padding-inline-end: var(--utrecht-navigation-list-padding-inline-end);
  padding-inline-start: var(--utrecht-navigation-list-padding-inline-start);
}

.utrecht-navigation__list--mobile {
  --utrecht-navigation-list-display: block;
  --utrecht-navigation-list-padding-inline-start: var(--utrecht-navigation-list-mobile-padding-inline-start);
  --utrecht-navigation-list-padding-inline-end: var(--utrecht-navigation-list-mobile-padding-inline-end);
  --utrecht-navigation-list-padding-block-start: var(--utrecht-navigation-list-mobile-padding-block-start);
  --utrecht-navigation-list-padding-block-end: var(--utrecht-navigation-list-mobile-padding-block-end);

  background-color: var(--utrecht-navigation-list-mobile-background-color);
  block-size: 100%;
  inline-size: var(--utrecht-navigation-list-mobile-inline-size);

  @media (width >= 550px) {
    inline-size: 50%;
  }
}

.utrecht-navigation__list .utrecht-navigation__list {
  inline-size: 100%;
  padding-block-end: 0;
  padding-block-start: 0;
}
