@mixin utrecht-navigation__list {
  --utrecht-navigation-list-display: flex;
  --utrecht-navigation-list-mobile-inline-size: 100%;

  display: var(--utrecht-navigation-list-display);
  inline-size: var(--utrecht-navigation-list-inline-size);
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-block-end: var(--utrecht-navigation-list-padding-block-end);
  padding-block-start: var(--utrecht-navigation-list-padding-block-start);
  padding-inline-end: var(--utrecht-navigation-list-padding-inline-end);
  padding-inline-start: var(--utrecht-navigation-list-padding-inline-start);
}

@mixin utrecht-navigation__list--mobile {
  --utrecht-navigation-list-display: block;
  --utrecht-navigation-list-padding-inline-start: var(--utrecht-navigation-list-mobile-padding-inline-start, 16px);
  --utrecht-navigation-list-padding-inline-end: var(--utrecht-navigation-list-mobile-padding-inline-end, 16px);
  --utrecht-navigation-list-padding-block-start: var(--utrecht-navigation-list-mobile-padding-block-start);
  --utrecht-navigation-list-padding-block-end: var(--utrecht-navigation-list-mobile-padding-block-end, 8px);
  --utrecht-navigation-list-inline-size: var(--utrecht-navigation-list-mobile-inline-size);

  background-color: var(--utrecht-navigation-list-mobile-background-color, var(--utrecht-color-white));
  block-size: 100%;
}

@mixin utrecht-navigation__list--side-nav {
  --utrecht-navigation-list-inline-size: var(--utrecht-navigation-list-side-nav-inline-size, 100%);
}

@mixin utrecht-navigation__list--sub-list {
  @include utrecht-navigation__list;
  @include utrecht-navigation__list--mobile;

  inline-size: 100%;
  padding-block-end: 0;
  padding-block-start: 0;
}

@mixin utrecht-navigation__list--sub-list-item {
  --utrecht-navigation-item-border-block-start-width: 0;
  --utrecht-navigation-item-border-block-end-width: 0;
  --utrecht-navigation-item-mobile-border-block-start-width: 0;
  --utrecht-navigation-item-mobile-border-block-end-width: 0;
}

.utrecht-navigation__list {
  @include utrecht-navigation__list;
}

.utrecht-navigation__list--mobile {
  @include utrecht-navigation__list--mobile;
}

.utrecht-navigation__list--side-nav {
  @include utrecht-navigation__list--side-nav;
}

.utrecht-navigation__list--sub-list {
  @include utrecht-navigation__list--sub-list;
}

.utrecht-navigation__list--sub-list-item {
  @include utrecht-navigation__list--sub-list-item;
}
