.utrecht-card {
  background-color: var(--utrecht-color-blue-90);
  max-width: 312px;
}

.utrecht-card__content {
  padding-block-end: 1rem;
  padding-block-start: 0;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
}
