.utrecht-card {
  background-color: var(--utrecht-color-blue-90);
  max-width: 312px;
}

.utrecht-card:hover {
  --utrecht-link-text-decoration: underline;
  --utrecht-link-text-decoration-thickness: var(--utrecht-link-hover-text-decoration-thickness);

  cursor: pointer;
  text-decoration-skip-ink: none;
}

.utrecht-card__image {
  max-width: 100%;
  object-fit: cover;
}

.utrecht-card__content {
  padding-block-end: 1rem;
  padding-block-start: 0;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
}
