.utrecht-card {
  background-color: var(--utrecht-color-blue-90);
  block-size: 100%;
  inline-size: 100%;
  min-block-size: 312px;
  &:not(:has(img)) {
    padding-block-start: var(--utrecht-heading-2-margin-block-start);
  }

  &:hover {
    --utrecht-link-text-decoration: underline;
    --utrecht-link-text-decoration-thickness: var(--utrecht-link-hover-text-decoration-thickness);

    cursor: pointer;
    text-decoration-skip-ink: none;
  }
}

.utrecht-card__image {
  inline-size: 100%;
  object-fit: cover;
}

.utrecht-card__content {
  padding-block-end: 1rem;
  padding-block-start: 0;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
}
