.utrecht-img {
  block-size: auto;
  max-inline-size: 100%;
}

.utrecht-figure {
  --utrecht-figure-margin-inline-start: 0;
  --utrecht-figure-margin-inline-end: 0;
  --utrecht-figure-margin-block-start: var(--utrecht-space-block-md);
  --utrecht-figure-margin-block-end: var(--utrecht-space-block-md);

  margin-block-end: var(--utrecht-figure-margin-block-end);
  margin-block-start: var(--utrecht-figure-margin-block-start);
  margin-inline-end: var(--utrecht-figure-margin-inline-end);
  margin-inline-start: var(--utrecht-figure-margin-inline-start);
}

.utrecht-figure__figcaption {
  --utrecht-figure--figcaption-color: var(--utrecht-color-grey-40);

  color: var(--utrecht-figure--figcaption-color);
}
