Dockerfile
Dockerfile.*
*docker-compose.*.yml
.dockerignore
node_modules/
**/node_modules
npm-debug.log
README.md
.next/
.git
.tmp/
.cache/
build/
data/
.env
.env*

**/.next
**/.tmp
**/build/
**/data/
**/dist/
**/.cache/
**/node_modules/
**/.DS_Store
docs
*.log