.utrecht-price-widget {
  border-color: gray;
  border-style: dashed;
  border-width: 1px;
  display: inline;
  margin-inline-end: 3px;
  margin-inline-start: 3px;
  padding-block: 2px;
  padding-inline: 2px;
}
