.utrecht-accordion {
  --utrecht-button-focus-transform-scale: 1;
  --utrecht-button-inline-size: 100%;
  --utrecht-button-subtle-background-color: #f2f2f2;
  --utrecht-button-subtle-color: #1d1d1c;
  --utrecht-button-subtle-hover-background-color: #f2f2f2;
  --utrecht-button-subtle-hover-border-color: #1d1d1c;
}

.utrecht-accordion__button {
  justify-content: start;
  position: relative;
  padding-inline-end: 30px;
}

.utrecht-accordion__button::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.39' height='14.39'%3E%3Cpath fill='none' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' d='M15.866 4.135l-5.32 5.322-5.322-5.322'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  background-color: #ffb60a;
  height: 1.6em;
  width: 1.6em;
}

.utrecht-accordion__button[aria-expanded="true"]::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.39' height='14.39'%3E%3Cpath fill='none' stroke='%231D1D1D' stroke-width='3' stroke-miterlimit='10' d='M5.223 9.457l5.32-5.322 5.322 5.322'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.utrecht-accordion__button[dir="ar"]::after {
  left: 0;
  position: absolute;
}

.utrecht-accordion__button[dir]:not([dir="ar"])::after {
  right: 0;
  position: absolute;
}

.utrecht-accordion__body {
  width: 100%;
  border: 2px solid #e5e5e5;
  border-top: none;
  padding: 1em 1em 0;
}
