.utrecht-navigation__toggle-button {
  --utrecht-button-subtle-color: currentColor;
  --utrecht-button-subtle-hover-color: currentColor;
  --utrecht-button-subtle-hover-border-color: transparent;
  --utrecht-button-subtle-active-background-color: transparent;
  --utrecht-button-subtle-active-border-color: transparent;
  --utrecht-button-subtle-active-color: currentColor;
  --utrecht-button-subtle-focus-background-color: transparent;
  --utrecht-button-subtle-focus-border-color: transparent;
  --utrecht-button-subtle-focus-color: currentColor;
  --utrecht-button-subtle-hover-border-width: 0;
  --utrecht-button-hover-scale: 1;
  --utrecht-button-focus-scale: 1;
  --utrecht-button-group-margin-block-start: var(--utrecht-navigation-toggle-button-margin-block-start);
  --utrecht-button-group-margin-block-end: var(--utrecht-navigation-toggle-button-margin-block-end);

  justify-content: flex-end;
  padding-inline-end: var(--utrecht-navigation-toggle-button-padding-inline-end);
}

.utrecht-icon-custom {
  margin-inline-end: var(--utrecht-icon-cutom-margin-inline-end, 8px);
}

.utrecht-navigation__toggle-button--start-end {
  --utrecht-button-group-margin-block-start: calc(-1 * var(--utrecht-navigation-toggle-button-offset-start, 16px));

  margin-inline-end: calc(-1 * var(--utrecht-navigation-toggle-button-offset-end, 16px));
}
