.utrecht-navigation__toggle-button {
  --utrecht-button-subtle-color: currentColor;
  --utrecht-button-subtle-hover-color: currentColor;
  --utrecht-button-subtle-hover-border-color: transparent;
  --utrecht-button-subtle-active-background-color: transparent;
  --utrecht-button-subtle-active-border-color: transparent;
  --utrecht-button-subtle-active-color: currentColor;
  --utrecht-button-subtle-focus-background-color: transparent;
  --utrecht-button-subtle-focus-border-color: transparent;
  --utrecht-button-subtle-focus-color: currentColor;
  --utrecht-button-subtle-hover-border-width: 0;
  --utrecht-button-hover-scale: 1;
  --utrecht-button-focus-scale: 1;

  justify-content: flex-end;
  padding-inline-end: var(--utrecht-navigation-toggle-button-padding-inline-end);
}

.utrecht-navigation__toggle-button:has(button[aria-expanded="true"]) {
  --utrecht-navigation-toggle-button-padding-inline-end: var(
    --utrecht-navigation-toggle-button-close-padding-inline-end,
    32px
  );
  --utrecht-button-group-padding-block-start: var(--utrecht-navigation-toggle-button-close-padding-block-start, 32px);
  --utrecht-button-group-padding-block-end: var(--utrecht-navigation-toggle-button-close-padding-block-end, 32px);
}
