.utrecht-data-list {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.utrecht-audit-report {
  --utrecht-heading-group-margin-block-start: 1em;
}

.utrecht-audit-report .utrecht-heading-group--level-4 {
  --utrecht-heading-group-margin-block-start: 5em;
}

.utrecht-audit-report .utrecht-heading-group {
  --utrecht-badge-padding-block: 0.25ex;
  --utrecht-badge-padding-inline: 0.75ch;
  --utrecht-badge-background-color: #eee;
  --utrecht-badge-color: #444;
}

.utrecht-audit-report .utrecht-spotlight-section > :first-child {
  --utrecht-space-around: 1;
}
