.utrecht-kcm-survey {
  border-block-color: var(--utrecht-kcm-survey-border-block-color);
  border-block-style: solid;
  border-block-width: var(--utrecht-kcm-survey-border-block-width);
  box-sizing: content-box;
  inline-size: 100%;
  margin-block-end: var(--utrecht-kcm-survey-margin-block-end);
  margin-block-start: var(--utrecht-kcm-survey-margin-block-start);
  max-width: var(--utrecht-kcm-survey-max-width);
  padding-block-end: var(--utrecht-kcm-survey-padding-block-end);
  padding-block-start: var(--utrecht-kcm-survey-padding-block-start);
  transition: none;
}
