.utrecht-footer__link-social-media-list {
  --utrecht-link-list-icon-size: var(--utrecht-footer-link-social-media-list-icon-size, 24px);
}
.utrecht-footer {
  --utrecht-heading-2-font-size: 24px;
  --utrecht-heading-2-margin-block-start: 0;
  --utrecht-heading-3-font-weight: 700;
  --utrecht-link-list-icon-inset-block-start: var(--utrecht-footer-link-list-icon-inset-block-start, 0.2em);
  --utrecht-link-list-icon-size: var(--utrecht-footer-link-list-icon-size);
  --utrecht-link-list-link-font-weight: 400;
  --utrecht-link-list-margin-block-end: 0;
  --utrecht-link-list-margin-block-start: 0;
  --utrecht-link-list-row-gap: 16px;
  --utrecht-link-social-border-color: transparent;
  --utrecht-page-footer-padding-inline-end: 0;
  --utrecht-page-footer-padding-inline-start: 0;

  display: block;
}

.utrecht-footer__container {
  padding-inline-end: 0;
  padding-inline-start: 0;
}

.utrecht-footer__list-title {
  --utrecht-heading-3-margin-block-end: var(--utrecht-footer-list-title-margin-block-end, 14px);
}
.utrecht-link-list__link--phone {
  --utrecht-link-text-decoration: underline;

  font-size: var(--utrecht-link-list-link-phone-font-size, 2em);
}
