.utrecht-tiptap-toolbar {
  --utrecht-button-padding-block-start: 0;
  --utrecht-button-padding-block-end: 0;
  --utrecht-button-padding-inline-start: 0;
  --utrecht-button-padding-inline-end: 0;

  background-color: #f6f6f9;
  box-shadow:
    rgb(0 0 0 / 10%) 0 10px 15px -3px,
    rgb(0 0 0 / 5%) 0 4px 6px -2px;
  display: flex;
  flex-wrap: wrap;
}

.utrecht-tiptap-toolbar__button-group {
  --utrecht-button-group-inline-gap: 4px;

  border: 0.25em solid #f6f6f9;
}

.utrecht-tiptap-toolbar__icon {
  font-size: 33px;
}
