.utrecht-products-navigation {
  --utrecht-button-padding-inline-start: 1ch;
  --utrecht-button-padding-inline-end: 1ch;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-block-end: 16px;
  margin-block-start: 20px;
}
