.utrecht-rich-text-editor-canvas {
  min-block-size: var(--utrecht-rich-text-editor-min-block-size, 200px);
  overflow: auto;
  padding-block-end: var(--utrecht-rich-text-editor-canvas-padding, var(--utrecht-space-block-sm));
  padding-block-start: var(--utrecht-rich-text-editor-canvas-padding, var(--utrecht-space-block-sm));
  padding-inline-end: var(--utrecht-rich-text-editor-canvas-padding, var(--utrecht-space-inline-sm));
  padding-inline-start: var(--utrecht-rich-text-editor-canvas-padding, var(--utrecht-space-inline-sm));
  resize: block;
}
