.utrecht-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  max-width: 70rem;
  padding-block-end: 0;
}

.utrecht-grid-mobile-hidden {
  display: none;
}

.utrecht-grid--content-padding {
  padding-block-start: 1rem;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
}

.utrecht-grid__full-width {
  grid-column: 1/-1;
}

.utrecht-grid__half-width {
  grid-column: span 4;
}

.utrecht-grid__one-third {
  grid-column: span 4;
}

.utrecht-grid__two-third {
  grid-column: span 4;
}

.utrecht-grid__one-fourth {
  grid-column: span 4;
}

@container (min-width: 40rem) {
  .utrecht-grid {
    grid-column-gap: 1rem;
  }

  .utrecht-grid--content-padding {
    padding-block-start: 1rem;
    padding-inline-end: 2rem;
    padding-inline-start: 2rem;
  }

  .utrecht-grid__half-width {
    grid-column: span 2;
  }

  .utrecht-grid__one-fourth {
    grid-column: span 2;
  }

  .utrecht-grid__one-third {
    grid-column: span 2;
  }
}

@container (min-width: 60rem) {
  .utrecht-grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .utrecht-grid-mobile-hidden {
    display: unset;
  }

  .utrecht-grid__half-width {
    grid-column: span 6;
  }

  .utrecht-grid__one-third {
    grid-column: span 4;
  }

  .utrecht-grid__two-third {
    grid-column: span 8;
  }

  .utrecht-grid__one-fourth {
    grid-column: span 3;
  }
}

@container (min-width: 70rem) {
  .utrecht-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}
