@keyframes utrecht-product-list-focus {
  0% {
    outline: 2px dotted black;
  }
  100% {
    outline: 2px dotted transparent;
  }
}

.utrecht-product-list {
  list-style: none;
  padding-inline-end: 10px;
  padding-inline-start: 0;
}

.utrecht-product-list__item {
  font-size: 20px;
  padding-block-end: 12px;
  padding-block-start: 12px;
  padding-inline: 10px;
}

.utrecht-product-list__pagination-info {
  font-size: 18px;
  font-weight: 700;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
  &:focus {
    animation: utrecht-product-list-focus 1s linear 1;
    outline-offset: 2px;
    outline-width: 0;
  }
}

.utrecht-product-list__item:nth-child(odd) {
  background: #f2f2f2;
}
