.utrecht-navigation__marker {
  color: var(--utrecht-navigation-marker-color, var(--utrecht-color-grey-80));
}

.utrecht-navigation__marker--current {
  --utrecht-navigation-marker-color: currentColor;
}

.utrecht-navigation__marker--outline {
  fill: var(--utrecht-navigation-marker-outline-hover-fill, none);
}
