.utrecht-advanced-link {
  --utrecht-link-icon-size: var(--utrecht-advanced-link-icon-size, var(--utrecht-document-font-size));
}

.utrecht-advanced-link--with-icon {
  --utrecht-link-text-decoration: var(--utrecht-advanced-link-with-icon-text-decoration);
  --utrecht-link-hover-text-decoration-thickness: var(--utrecht-advanced-link-with-icon-text-decoration-thickness);

  align-items: center;
  display: flex;
  width: fit-content;
}

.utrecht-advanced-link--color-red {
  --utrecht-link-active-color: var(--utrecht-advanced-link-color-active-color-red);
  --utrecht-link-color: var(--utrecht-advanced-link-color-color-red);
  --utrecht-link-focus-color: var(--utrecht-advanced-link-color-focus-color-red);
  --utrecht-link-hover-color: var(--utrecht-advanced-link-color-hover-color-red);
  --utrecht-link-visited-color: var(--utrecht-advanced-link-color-visited-color-red);
}

.utrecht-advanced-link__icon {
  margin-inline-end: var(--utrecht-advanced-link-icon-margin-inline-end);
}
