.utrecht-bottom-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--utrecht-space-block-lg);
  margin-block-start: var(--utrecht-space-block-xl);
}
