@import "~@utrecht/multiline-data-css/src/mixin";
@import "~@utrecht/form-label-css/src/mixin";
@import "~@utrecht/textbox-css/src/mixin";
@import "~@utrecht/spotlight-section-css/src/mixin";

:root {
  --of-progress-indicator-padding-block-end: 0;
  --of-card-padding-inline-end: 0;
  --of-card-padding-inline-start: 0;
}

.utrecht-form-container--openforms .utrecht-form-label--openforms.utrecht-form-label--radio {
  @include utrecht-form-label--radio;
}
.utrecht-form-container--openforms .utrecht-textbox--openforms:disabled {
  @include utrecht-textbox--read-only;
}

.formio-editor-read-only-content {
  @include utrecht-multiline-data;
}

/* previous button alignment */
.utrecht-form-container--openforms .openforms-toolbar .openforms-toolbar__list-item .utrecht-link--openforms {
  justify-content: left;
}

/**
 * Workaround for Open Forms SDK 2.1.3
 * The selected value for the combobox, when not expanded, would overflow the form control.
 * @see https://github.com/frameless/strapi/issues/847
 */

// TODO remove the code below when uen upgrade open Forms SDK to 2.3.1 version

/* stylelint-disable-next-line selector-class-pattern */
.utrecht-form-field.utrecht-form-field--select .selection {
  height: 100% !important;

  /* This line is still needed in Open Forms to leave 44px space for the "Clear" button and the expanded icon */
  max-inline-size: calc(100% - 44px);
}

/* stylelint-disable selector-class-pattern */
.utrecht-form-field.utrecht-form-field--select .selection .choices__item,
.utrecht-form-field.utrecht-form-field--select .selection + .choices__list .choices__item {
  block-size: fit-content !important;
  text-wrap: wrap;
  word-break: break-word;
}
/* stylelint-enable selector-class-pattern */

/* openforms datalist */
.openforms-app > .openforms-app__body > .openforms-card {
  --of-card-padding-block-end: 0;
  --of-card-padding-block-start: 0;
  --of-card-padding-inline-end: 0;
  --of-card-padding-inline-start: 0;
}

.utrecht-data-list--openforms > .utrecht-data-list__item {
  margin-block-start: var(--utrecht-data-list-rows-item-margin-block-start);
}

.utrecht-data-list--openforms > .utrecht-data-list__item:first-of-type {
  margin-block-start: 0;
}

.utrecht-form-container--openforms {
  flex: 1 1;
}

.openforms-formio-content {
  &--info {
    --of-formio-content-info-border-inline-start-style: none;
    @include utrecht-spotlight-section;
    @include utrecht-spotlight-section-type("info");
  }
  &--warning {
    --of-formio-content-warning-border-inline-start-style: none;
    @include utrecht-spotlight-section;
    @include utrecht-spotlight-section-type("warning");
  }
  &--error {
    --of-formio-content-error-border-inline-start-style: none;
    @include utrecht-spotlight-section;
    @include utrecht-spotlight-section-type("warning");
  }
  &--success {
    --of-formio-content-success-border-inline-start-style: none;
    @include utrecht-spotlight-section;
    @include utrecht-spotlight-section-type("ok");
  }
  &--success,
  &--info,
  &--warning,
  &--error {
    flex-direction: column;
  }
}
