@use "~@utrecht/multiline-data-css/src/mixin" as multiline-data;
@use "~@utrecht/form-label-css/src/mixin" as form-label;
@use "~@utrecht/textbox-css/src/mixin" as textbox;
@use "~@utrecht/spotlight-section-css/src/mixin" as spotlight-section;

:root {
  --of-progress-indicator-padding-block-end: 0;
  --of-card-padding-inline-end: 0;
  --of-card-padding-inline-start: 0;
}

.utrecht-form-container--openforms .utrecht-form-label--openforms.utrecht-form-label--radio {
  @include form-label.utrecht-form-label--radio;
}

.utrecht-form-container--openforms .utrecht-textbox--openforms:disabled {
  @include textbox.utrecht-textbox--read-only;
}

.formio-editor-read-only-content {
  @include multiline-data.utrecht-multiline-data;
}

/* previous button alignment */
.utrecht-form-container--openforms .openforms-toolbar .openforms-toolbar__list-item .utrecht-link--openforms {
  justify-content: left;
}

/* openforms datalist */
.openforms-app > .openforms-app__body > .openforms-card {
  --of-card-padding-block-end: 0;
  --of-card-padding-block-start: 0;
  --of-card-padding-inline-end: 0;
  --of-card-padding-inline-start: 0;
}

.utrecht-data-list--openforms > .utrecht-data-list__item {
  margin-block-start: var(--utrecht-data-list-rows-item-margin-block-start);
}

.utrecht-data-list--openforms > .utrecht-data-list__item:first-of-type {
  margin-block-start: 0;
}

.utrecht-form-container--openforms {
  flex: 1 1;
}

.openforms-formio-content {
  &--info {
    --of-formio-content-info-border-inline-start-style: none;

    @include spotlight-section.utrecht-spotlight-section;
    @include spotlight-section.utrecht-spotlight-section-type("info");
  }

  &--warning {
    --of-formio-content-warning-border-inline-start-style: none;

    @include spotlight-section.utrecht-spotlight-section;
    @include spotlight-section.utrecht-spotlight-section-type("warning");
  }

  &--error {
    --of-formio-content-error-border-inline-start-style: none;

    @include spotlight-section.utrecht-spotlight-section;
    @include spotlight-section.utrecht-spotlight-section-type("warning");
  }

  &--success {
    --of-formio-content-success-border-inline-start-style: none;

    @include spotlight-section.utrecht-spotlight-section;
    @include spotlight-section.utrecht-spotlight-section-type("ok");
  }

  &--success,
  &--info,
  &--warning,
  &--error {
    flex-direction: column;
  }
}
