html,
body {
  --utrecht-space-around: 1;
  --utrecht-search-bar-dropdown-inline-size: 100%;
  --utrecht-search-bar-dropdown-z-index: 100;
  --utrecht-search-bar-dropdown-padding-inline-start: 1rem;
  --utrecht-search-bar-dropdown-padding-inline-end: 1rem;
  --utrecht-search-bar-list-item-padding-block-start: 6px;
  --utrecht-search-bar-list-item-padding-block-end: 6px;
  --utrecht-spotlight-section-margin-block-start: 16px;
  --utrecht-spotlight-section-margin-block-end: 16px;
  --utrecht-link-list-marker-background-image: url("https://pki.utrecht.nl/Loket/base/files/getImageAction.do?key=kl_pijltje-wit-SVG");
  --utrecht-list-social-margin-block-start: 24px;

  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.utrecht-page-content--modifier {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.utrecht-main-wrapper {
  background-color: var(--utrecht-document-background-color);
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding-inline: 0 !important;
}

.utrecht-nav__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.utrecht-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.utrecht-spotlight-section > :first-child {
  --utrecht-space-around: 0;
}

.utrecht-multi-columns-button {
  display: flex;
  flex-wrap: nowrap;
}

.utrecht-digid-button svg {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.utrecht-multi-columns-button__item {
  --utrecht-paragraph-margin-block-end: 16px;

  padding-block: 20px;
  padding-inline: 20px;
  width: 50%;
}
.utrecht-multi-columns-button__item:first-child {
  border-right: 1px solid #e5e5e5;
}

.utrecht-multi-columns-button__item:last-child {
  border-left: 1px solid #e5e5e5;
}

table * p {
  --utrecht-paragraph-margin-block-start: 0;
}

th {
  --utrecht-table-header-cell-font-weight: var(--utrecht-table-header-font-weight);

  border-block-end-color: var(--utrecht-table-header-border-block-end-color, transparent);
  border-block-end-style: solid;
  border-block-end-width: var(--utrecht-table-header-border-block-end-width, 0);
  padding-block-end: var(--utrecht-table-cell-padding-block-end, 0);
  padding-block-start: var(--utrecht-table-cell-padding-block-start, 0);
  padding-inline-end: var(--utrecht-table-cell-padding-inline-end, 0);
  padding-inline-start: var(--utrecht-table-cell-padding-inline-start, 0);
}

th > p {
  --utrecht-paragraph-font-weight: var(--utrecht-table-header-font-weight);
}

.utrecht-button-link--eherkenning {
  --utrecht-button-primary-action-focus-border-color: var(--utrecht-color-grey-10);
  --utrecht-button-primary-action-active-border-color: var(--utrecht-color-grey-10);
  --utrecht-button-primary-action-active-color: var(--utrecht-color-white);
  --utrecht-button-primary-action-background-color: #bc3983;
  --utrecht-button-primary-action-active-background-color: #bc3983;
  --utrecht-button-primary-action-hover-background-color: #bc3983;
  --utrecht-button-primary-action-focus-background-color: #bc3983;
  --utrecht-button-primary-action-pressed-background-color: #bc3983;
}
