html,
body {
  --utrecht-space-around: 1;
  --utrecht-search-bar-dropdown-inline-size: 100%;
  --utrecht-search-bar-dropdown-z-index: 100;
  --utrecht-search-bar-dropdown-padding-inline-start: 1rem;
  --utrecht-search-bar-dropdown-padding-inline-end: 1rem;
  --utrecht-search-bar-list-item-padding-block-start: 6px;
  --utrecht-search-bar-list-item-padding-block-end: 6px;
  --utrecht-spotlight-section-margin-block-start: 16px;
  --utrecht-spotlight-section-margin-block-end: 16px;
  --utrecht-link-list-marker-background-image: url("https://pki.utrecht.nl/Loket/base/files/getImageAction.do?key=kl_pijltje-wit-SVG");
  --utrecht-list-social-margin-block-start: 24px;

  /* Advanced Link tokens */
  --utrecht-advanced-link-with-icon-text-decoration: none;
  --utrecht-advanced-link-with-icon-text-decoration-thickness: 1px;
  --utrecht-advanced-link-color-active-color-red: var(--utrecht-color-red-40);
  --utrecht-advanced-link-color-focus-color-red: var(--utrecht-color-red-40);
  --utrecht-advanced-link-color-hover-color-red: var(--utrecht-color-red-40);
  --utrecht-advanced-link-color-visited-color-red: var(--utrecht-color-red-40);
  --utrecht-advanced-link-color-color-red: var(--utrecht-color-red-40);
  --utrecht-advanced-link-icon-margin-inline-end: var(--utrecht-space-inline-xs);
  --utrecht-advanced-link-icon-size: 14px;

  /* Multi columns button tokens */
  --utrecht-multi-columns-button-item-inline-size: 50%;
  --utrecht-multi-columns-button-item-padding-inline-start: var(--utrecht-space-inline-lg);
  --utrecht-multi-columns-button-item-padding-inline-end: var(--utrecht-space-inline-lg);
  --utrecht-multi-columns-button-item-padding-block-start: var(--utrecht-space-block-lg);
  --utrecht-multi-columns-button-item-padding-block-end: var(--utrecht-space-block-lg);
  --utrecht-multi-columns-button-divider-color: var(--utrecht-color-grey-90);
  --utrecht-multi-columns-buttons-divider-width: 1px;
  --utrecht-multi-columns-button-item-mobile-padding-inline-start: var(--utrecht-space-inline-xs);
  --utrecht-multi-columns-button-item-mobile-padding-inline-end: var(--utrecht-space-inline-xs);
  --utrecht-multi-columns-button-item-mobile-padding-block-start: var(--utrecht-space-block-xs);
  --utrecht-multi-columns-button-item-mobile-padding-block-end: var(--utrecht-space-block-xs);
  --utrecht-multi-columns-button-item-mobile-inline-size: 100%;

  /* Logo button tokens */
  --utrecht-color-magenta: #bc3983;
  --utrecht-button-link-magenta-focus-border-color: var(--utrecht-color-grey-10);
  --utrecht-button-link-magenta-active-border-color: var(--utrecht-color-grey-10);
  --utrecht-button-link-magenta-active-color: var(--utrecht-color-white);
  --utrecht-button-link-magenta-background-color: var(--utrecht-color-magenta);
  --utrecht-button-link-magenta-active-background-color: var(--utrecht-color-magenta);
  --utrecht-button-link-magenta-hover-background-color: var(--utrecht-color-magenta);
  --utrecht-button-link-magenta-focus-background-color: var(--utrecht-color-magenta);
  --utrecht-button-link-magenta-pressed-background-color: var(--utrecht-color-magenta);

  /* image & caption tokens */

  --utrecht-figure-margin-inline-start: 0;
  --utrecht-figure-margin-inline-end: 0;
  --utrecht-figure-margin-block-start: var(--utrecht-space-block-md);
  --utrecht-figure-margin-block-end: var(--utrecht-space-block-md);
  --utrecht-figure--figcaption-color: var(--utrecht-color-grey-40);
  --utrecht-figure--figcaption-font-size: var(--utrecht-typography-scale-sm-font-size);
  --utrecht-figure-figcaption-margin-block-start: var(--utrecht-space-block-2xs);

  /* --- navigation tokens start --- */

  /* nav */
  --utrecht-navigation-border-block-start-width: 0;
  --utrecht-navigation-border-block-start-color: transparent;

  /* nav-list */

  --utrecht-navigation-list-padding-inline-start: 0;
  --utrecht-navigation-list-padding-inline-end: 0;
  --utrecht-navigation-list-padding-block-start: 0;
  --utrecht-navigation-list-padding-block-end: 0;
  --utrecht-navigation-list-mobile-padding-inline-start: 16px;
  --utrecht-navigation-list-mobile-padding-inline-end: 8px;
  --utrecht-navigation-list-mobile-padding-block-start: 8px;
  --utrecht-navigation-list-mobile-padding-block-end: 8px;
  --utrecht-navigation-list-mobile-background-color: var(--utrecht-color-white);

  /* nav-item */

  /* --utrecht-navigation-item-padding-inline-start: 0;
     --utrecht-navigation-item-padding-inline-end: 0; 
  */

  /* nav-item-mobile */
  --utrecht-navigation-item-mobile-padding-block-start: 8px;
  --utrecht-navigation-item-mobile-padding-block-end: 8px;
  --utrecht-navigation-item-mobile-padding-inline-start: 4px;
  --utrecht-navigation-item-mobile-padding-inline-end: 4px;
  --utrecht-navigation-item-icon-color: var(--utrecht-color-grey-80);
  --utrecht-navigation-item-icon-margin-inline-end: 8px;

  /* link */
  --utrecht-navigation-link-padding-block-start: 16px;
  --utrecht-navigation-link-padding-block-end: 16px;
  --utrecht-navigation-link-padding-inline-start: 8px;
  --utrecht-navigation-link-padding-inline-end: 8px;
  --utrecht-navigation-link-background-color: var(--utrecht-color-grey-15);
  --utrecht-navigation-link-border-color: var(--utrecht-color-grey-40);
  --utrecht-navigation-link-border-inline-end-width: 1px;
  --utrecht-navigation-link-color: var(--utrecht-color-white);
  --utrecht-navigation-link-justify-content: center;
  --utrecht-navigation-link-font-weight: var(--utrecht-typography-weight-scale-normal-font-weight);

  /* link-mobile */
  --utrecht-navigation-link-mobile-text-align: start;
  --utrecht-navigation-link-mobile-background-color: var(--utrecht-color-white);
  --utrecht-navigation-link-mobile-color: var(--utrecht-color-blue-35);
  --utrecht-navigation-link-mobile-justify-content: flex-start;
  --utrecht-navigation-link-mobile-padding-inline-start: 8px;
  --utrecht-navigation-link-mobile-padding-inline-end: 0;
  --utrecht-navigation-link-mobile-padding-block-start: 8px;
  --utrecht-navigation-link-mobile-padding-block-end: 8px;
  --utrecht-navigation-link-mobile-hover-background-color: var(--utrecht-color-white);
  --utrecht-navigation-link-mobile-hover-color: var(--utrecht-color-blue-35);
  --utrecht-navigation-link-mobile-transition-duration: 0.3s;
  --utrecht-navigation-link-mobile-transition-timing-function: ease-in-out;
  --utrecht-navigation-mobile-hover-link-font-weight: var(--utrecht-typography-weight-scale-bold-font-weight);

  /* link-focus */
  --utrecht-navigation-link-focus-color: var(--utrecht-color-black);
  --utrecht-navigation-link-focus-declaration-thickness: 1.5px;

  /* link-active */
  --utrecht-navigation-link-active-color: var(--utrecht-color-white);

  /* link-hover  */
  --utrecht-navigation-link-hover-color: var(--utrecht-color-white);
  --utrecht-navigation-link-hover-decoration-thickness: 1.5px;
  --utrecht-navigation-link-hover-background-color: var(--utrecht-color-black);

  /* active focus */
  --utrecht-navigation-link-active-focus-color: var(--utrecht-color-black);

  /* TODO: remove the css variables below when the accordion PR get merged from design system */
  --utrecht-accordion-section-margin-block-start: 4px !important;
  --utrecht-accordion-section-margin-block-end: 0 !important;

  /* --- navigation tokens end --- */

  /* Logo button token */
  --utrecht-logo-without-logo-padding-block-start: var(--utrecht-space-block-xs);
  --utrecht-logo-without-logo-padding-block-end: var(--utrecht-space-block-xs);
  --utrecht-logo-logo-padding-block-start: var(--utrecht-space-block-2xs);
  --utrecht-logo-logo-padding-block-end: var(--utrecht-space-block-2xs);

  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.utrecht-page-content--modifier {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.utrecht-main-wrapper {
  background-color: var(--utrecht-document-background-color);
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding-inline: 0 !important;
}

.utrecht-spotlight-section > :first-child {
  --utrecht-space-around: 0;
}

table * p {
  --utrecht-paragraph-margin-block-start: 0;
}

th {
  --utrecht-table-header-cell-font-weight: var(--utrecht-table-header-font-weight);

  border-block-end-color: var(--utrecht-table-header-border-block-end-color, transparent);
  border-block-end-style: solid;
  border-block-end-width: var(--utrecht-table-header-border-block-end-width, 0);
  padding-block-end: var(--utrecht-table-cell-padding-block-end, 0);
  padding-block-start: var(--utrecht-table-cell-padding-block-start, 0);
  padding-inline-end: var(--utrecht-table-cell-padding-inline-end, 0);
  padding-inline-start: var(--utrecht-table-cell-padding-inline-start, 0);
}

th > p {
  --utrecht-paragraph-font-weight: var(--utrecht-table-header-font-weight);
}

/* TODO: remove the css class below when the accordion PR get merged from design system */
.utrecht-accordion__header {
  --utrecht-space-around: 0;
}
