html,
body {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

.utrecht-pdc-theme {
  --utrecht-page-footer-padding-block-end: 24px;
  --utrecht-page-footer-padding-block-start: 24px;
  --utrecht-page-footer-padding-inline-start: 16px;
  --utrecht-page-footer-padding-inline-end: 16px;
  --utrecht-page-padding-inline-start: 16px;
  --utrecht-page-padding-inline-end: 16px;
  --utrecht-space-around: 1;
  --utrecht-page-header-padding-block-start: 16px;
  --utrecht-search-bar-dropdown-inline-size: 100%;
  --utrecht-search-bar-dropdown-z-index: 100;
  --utrecht-search-bar-dropdown-padding-inline-start: 1rem;
  --utrecht-search-bar-dropdown-padding-inline-end: 1rem;
  --utrecht-search-bar-list-item-padding-block-start: 6px;
  --utrecht-search-bar-list-item-padding-block-end: 6px;
  --utrecht-spotlight-section-margin-block-start: 16px;
  --utrecht-spotlight-section-margin-block-end: 16px;
  --utrecht-link-list-marker-background-image: url("https://pki.utrecht.nl/Loket/base/files/getImageAction.do?key=kl_pijltje-wit-SVG");
  --utrecht-list-social-margin-block-start: 24px;
  --utrecht-heading-1-margin-block-start: var(--utrecht-space-block-2xl);
  --utrecht-heading-1-margin-block-end: var(--utrecht-space-block-2xl);
  --utrecht-page-footer-background-image: linear-gradient(
    45deg,
    var(--utrecht-color-red-40),
    var(--utrecht-color-red-40) 50%,
    #d63433 50%
  );

  /* KCM survey form */
  --utrecht-kcm-survey-border-block-color: var(--utrecht-color-blue-90);
  --utrecht-kcm-survey-border-block-width: 3px;
  --utrecht-kcm-survey-padding-block-start: 1rem;
  --utrecht-kcm-survey-padding-block-end: 1rem;
  --utrecht-kcm-survey-margin-block-start: 2rem;
  --utrecht-kcm-survey-margin-block-end: 2rem;
  --utrecht-kcm-survey-max-width: 738px;

  /* Advanced Link tokens */
  --utrecht-advanced-link-with-icon-text-decoration: none;
  --utrecht-advanced-link-with-icon-text-decoration-thickness: 1px;
  --utrecht-advanced-link-color-active-color-red: var(--utrecht-color-red-40);
  --utrecht-advanced-link-color-focus-color-red: var(--utrecht-color-red-40);
  --utrecht-advanced-link-color-hover-color-red: var(--utrecht-color-red-40);
  --utrecht-advanced-link-color-visited-color-red: var(--utrecht-color-red-40);
  --utrecht-advanced-link-color-color-red: var(--utrecht-color-red-40);
  --utrecht-advanced-link-icon-margin-inline-end: var(--utrecht-space-inline-xs);
  --utrecht-advanced-link-icon-size: 14px;

  /* Multi columns button tokens */
  --utrecht-multi-columns-button-margin-block-start: var(--utrecht-space-block-md);
  --utrecht-multi-columns-button-margin-block-end: var(--utrecht-space-block-md);
  --utrecht-multi-columns-button-item-padding-inline-start: var(--utrecht-space-inline-lg);
  --utrecht-multi-columns-button-item-padding-inline-end: var(--utrecht-space-inline-lg);
  --utrecht-multi-columns-button-item-padding-block-start: var(--utrecht-space-block-lg);
  --utrecht-multi-columns-button-item-padding-block-end: var(--utrecht-space-block-lg);
  --utrecht-multi-columns-button-divider-color: var(--utrecht-color-grey-90);
  --utrecht-multi-columns-buttons-divider-width: 1px;
  --utrecht-multi-columns-button-item-mobile-padding-inline-start: var(--utrecht-space-inline-xs);
  --utrecht-multi-columns-button-item-mobile-padding-inline-end: var(--utrecht-space-inline-xs);
  --utrecht-multi-columns-button-item-mobile-padding-block-start: var(--utrecht-space-block-xs);
  --utrecht-multi-columns-button-item-mobile-padding-block-end: var(--utrecht-space-block-xs);

  /* Logo button tokens */
  --utrecht-color-magenta: #bc3983;
  --utrecht-button-link-magenta-focus-border-color: var(--utrecht-color-grey-10);
  --utrecht-button-link-magenta-active-border-color: var(--utrecht-color-grey-10);
  --utrecht-button-link-magenta-active-color: var(--utrecht-color-white);
  --utrecht-button-link-magenta-background-color: var(--utrecht-color-magenta);
  --utrecht-button-link-magenta-active-background-color: var(--utrecht-color-magenta);
  --utrecht-button-link-magenta-hover-background-color: var(--utrecht-color-magenta);
  --utrecht-button-link-magenta-focus-background-color: var(--utrecht-color-magenta);
  --utrecht-button-link-magenta-pressed-background-color: var(--utrecht-color-magenta);

  /* image & caption tokens */

  --utrecht-figure-margin-inline-start: 0;
  --utrecht-figure-margin-inline-end: 0;
  --utrecht-figure-margin-block-start: var(--utrecht-space-block-md);
  --utrecht-figure-margin-block-end: var(--utrecht-space-block-md);
  --utrecht-figure--figcaption-color: var(--utrecht-color-grey-40);
  --utrecht-figure--figcaption-font-size: var(--utrecht-typography-scale-sm-font-size);
  --utrecht-figure-figcaption-margin-block-start: var(--utrecht-space-block-2xs);

  /* --- navigation tokens start --- */

  /* nav */
  --utrecht-navigation-border-block-start-width: 0;
  --utrecht-navigation-border-block-start-color: transparent;
  --utrecht-navigation-border-block-end-width: 0;
  --utrecht-navigation-border-block-end-color: transparent;

  /* nav-toggle */
  --utrecht-navigation-toggle-button-padding-end: 16px;

  /* nav-list */
  --utrecht-navigation-list-mobile-padding-inline-start: 0;
  --utrecht-navigation-list-mobile-padding-inline-end: 0;

  /* link */
  --utrecht-navigation-link-background-color: var(--utrecht-color-grey-15);
  --utrecht-navigation-link-border-color: var(--utrecht-color-grey-40);
  --utrecht-navigation-link-border-inline-end-width: 1px;
  --utrecht-navigation-link-color: var(--utrecht-color-white);

  /* link-active */
  --utrecht-navigation-link-active-color: var(--utrecht-color-white);

  /* link-hover  */
  --utrecht-navigation-link-hover-color: var(--utrecht-color-white);
  --utrecht-navigation-link-hover-background-color: var(--utrecht-color-black);

  /* active focus */

  /* --- navigation tokens end --- */

  /* Button group */
  --utrecht-button-group-margin-block-start: var(--utrecht-space-block-xs);
  --utrecht-button-group-margin-block-end: var(--utrecht-space-block-xs);

  /* Logo */
  --utrecht-logo-wrapper-padding-inline-start: 16px;
  --utrecht-logo-wrapper-padding-block-end: 16px;

  /* Search bar */
  --utrecht-search-bar-wrapper-padding-inline-end: 16px;
  --utrecht-search-bar-wrapper-padding-inline-start: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.utrecht-article {
  flex: 1 1;
  margin-block-end: 1rem;
}

.utrecht-logo-wrapper {
  padding-block-end: var(--utrecht-logo-wrapper-padding-block-end);
  padding-inline-start: var(--utrecht-logo-wrapper-padding-inline-start);
}

.utrecht-search-bar-wrapper {
  inline-size: 100%;
  padding-inline-end: var(--utrecht-search-bar-wrapper-padding-inline-end);
  padding-inline-start: var(--utrecht-search-bar-wrapper-padding-inline-start);
  & form {
    position: relative;
  }

  & .utrecht-search-bar__dropdown {
    /* TODO: This CSS property should be add to the design system package */
    background-color: var(--utrecht-color-white);
  }
}

.utrecht-custom-header {
  --utrecht-page-padding-inline-start: 0;
  --utrecht-page-padding-inline-end: 0;
  --utrecht-drawer-padding-block-start: 0;
  --utrecht-search-bar-input-max-inline-size: 100%;
}

.utrecht-custom-page {
  background-color: var(--utrecht-document-background-color);
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding-inline: 0 !important;
}

.utrecht-link-group {
  --utrecht-button-group-margin-block-start: var(--utrecht-space-block-md);
  --utrecht-button-group-margin-block-end: var(--utrecht-space-block-md);
}

.utrecht-spotlight-section > :first-child {
  --utrecht-space-around: 0;
}

table * p {
  --utrecht-paragraph-margin-block-start: 0;
}

th {
  --utrecht-table-header-cell-font-weight: var(--utrecht-table-header-font-weight);

  border-block-end-color: var(--utrecht-table-header-border-block-end-color, transparent);
  border-block-end-style: solid;
  border-block-end-width: var(--utrecht-table-header-border-block-end-width, 0);
  padding-block-end: var(--utrecht-table-cell-padding-block-end, 0);
  padding-block-start: var(--utrecht-table-cell-padding-block-start, 0);
  padding-inline-end: var(--utrecht-table-cell-padding-inline-end, 0);
  padding-inline-start: var(--utrecht-table-cell-padding-inline-start, 0);
}

th > p {
  --utrecht-paragraph-font-weight: var(--utrecht-table-header-font-weight);
}

p:has(a[class="utrecht-skip-link utrecht-skip-link--visible-on-focus"]) {
  margin-block-end: 0;
  margin-block-start: 0;
}

.utrecht-navigation--mobile:has(button[aria-expanded="false"]) {
  padding-inline-end: var(--utrecht-navigation-toggle-button-padding-end);
}

/* Screens 428px wide or larger */
@media (width >= 428px) {
  .utrecht-pdc-theme {
    --utrecht-page-padding-inline-start: 32px;
    --utrecht-page-padding-inline-end: 32px;
    --utrecht-search-bar-wrapper-padding-inline-end: 32px;
    --utrecht-search-bar-wrapper-padding-inline-start: 32px;
    --utrecht-navigation-toggle-button-padding-end: 32px;
    --utrecht-logo-wrapper-padding-inline-start: 32px;
    --utrecht-drawer-padding-inline-start: 16px;
    --utrecht-page-footer-padding-block-end: 48px;
    --utrecht-page-footer-padding-block-start: 48px;
    --utrecht-page-footer-padding-inline-start: 32px;
    --utrecht-page-footer-padding-inline-end: 32px --utrecht-drawer-padding-inline-end: 32px;
  }
}

/* TODO remove the following code when this PR https://github.com/nl-design-system/utrecht/pull/2393 get merged */
.utrecht-accordion__header {
  margin-block-end: 0;
  margin-block-start: 0;
}
