html,
body {
  --utrecht-space-around: 1;
  --utrecht-list-social-margin-block-start: 24px;
  --utrecht-page-header-background-color: var(--utrecht-color-white);
  --utrecht-page-header-max-width: 70rem;
  --utrecht-page-content-background-color: var(--utrecht-color-white);
  --utrecht-page-content-max-width: 70rem;
  --utrecht-page-marin-inline-end: 0;
  --utrecht-page-margin-inline-start: 0;

  /* --- navigation tokens start --- */

  /* nav */
  --utrecht-navigation-border-block-start-width: 1px;
  --utrecht-navigation-border-block-start-color: var(--utrecht-color-grey-80);

  /* nav-list */

  --utrecht-navigation-list-padding-inline-start: 5px;
  --utrecht-navigation-list-padding-inline-end: 5px;
  --utrecht-navigation-list-padding-block-start: 16px;
  --utrecht-navigation-list-padding-block-end: 16px;
  --utrecht-navigation-list-mobile-padding-inline-start: 16px;
  --utrecht-navigation-list-mobile-padding-inline-end: 8px;
  --utrecht-navigation-list-mobile-padding-block-start: 8px;
  --utrecht-navigation-list-mobile-padding-block-end: 8px;
  --utrecht-navigation-list-mobile-background-color: var(--utrecht-color-white);

  /* nav-item */
  --utrecht-navigation-item-padding-inline-start: 5px;
  --utrecht-navigation-item-padding-inline-end: 5px;

  /* nav-item-mobile */
  --utrecht-navigation-item-mobile-padding-block-start: 8px;
  --utrecht-navigation-item-mobile-padding-block-end: 8px;
  --utrecht-navigation-item-mobile-padding-inline-start: 4px;
  --utrecht-navigation-item-mobile-padding-inline-end: 4px;
  --utrecht-navigation-item-icon-color: var(--utrecht-color-grey-80);
  --utrecht-navigation-item-icon-margin-inline-end: 8px;

  /* link */
  --utrecht-navigation-link-padding-block-start: 8px;
  --utrecht-navigation-link-padding-block-end: 8px;
  --utrecht-navigation-link-padding-inline-start: 0px;
  --utrecht-navigation-link-padding-inline-end: 0px;
  --utrecht-navigation-link-background-color: var(--utrecht-color-white);
  --utrecht-navigation-link-border-color: none;
  --utrecht-navigation-link-border-inline-end-width: 0;
  --utrecht-navigation-link-color: var(--utrecht-color-black);
  --utrecht-navigation-link-justify-content: center;
  --utrecht-navigation-link-font-weight: var(--utrecht-typography-weight-scale-normal-font-weight);

  /* link-mobile */
  --utrecht-navigation-link-mobile-text-align: start;
  --utrecht-navigation-link-mobile-background-color: var(--utrecht-color-white);
  --utrecht-navigation-link-mobile-color: var(--utrecht-color-blue-35);
  --utrecht-navigation-link-mobile-justify-content: flex-start;
  --utrecht-navigation-link-mobile-padding-inline-start: 8px;
  --utrecht-navigation-link-mobile-padding-inline-end: 0;
  --utrecht-navigation-link-mobile-padding-block-start: 8px;
  --utrecht-navigation-link-mobile-padding-block-end: 8px;
  --utrecht-navigation-link-mobile-hover-background-color: var(--utrecht-color-white);
  --utrecht-navigation-link-mobile-hover-color: var(--utrecht-color-blue-35);
  --utrecht-navigation-link-mobile-transition-duration: 0.3s;
  --utrecht-navigation-link-mobile-transition-timing-function: ease-in-out;
  --utrecht-navigation-mobile-hover-link-font-weight: var(--utrecht-typography-weight-scale-bold-font-weight);

  /* link-focus */
  --utrecht-navigation-link-focus-color: var(--utrecht-color-black);
  --utrecht-navigation-link-focus-declaration-thickness: 1.5px;

  /* link-active */
  --utrecht-navigation-link-active-color: var(--utrecht-color-white);

  /* link-hover  */
  --utrecht-navigation-link-hover-color: var(--utrecht-color-blue-35);
  --utrecht-navigation-link-hover-decoration-thickness: 1.5px;
  --utrecht-navigation-link-hover-background-color: var(--utrecht-color-white);

  /* active focus */
  --utrecht-navigation-link-active-focus-color: var(--utrecht-color-black);

  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;

  /* --- navigation tokens end --- */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Overrides for Utrecht components */

.utrecht-page--full-width {
  --utrecht-page-margin-inline-start: 0;
  --utrecht-page-margin-inline-end: 0;
}

.utrecht-page-header {
  --utrecht-page-header-padding-block-start: 0;
  --utrecht-page-header-padding-block-end: 0;
  --utrecht-page-padding-inline-start: 0;
  --utrecht-page-padding-inline-end: 0;

  container-type: inline-size;
  max-width: var(--utrecht-page-header-max-width);
  margin-inline: auto;
}

.utrecht-page-content {
  --utrecht-page-content-padding-block-start: 0;
  --utrecht-page-content-padding-block-end: 0;
  --utrecht-page-padding-inline-start: 0;
  --utrecht-page-padding-inline-end: 0;

  background-color: var(--utrecht-page-content-background-color);
  container-type: inline-size;
  max-width: var(--utrecht-page-content-max-width);
  margin-inline: auto;
}
