.utrecht-vth-theme {
  --utrecht-space-around: 1;
  --utrecht-list-social-margin-block-start: 24px;
  --utrecht-page-header-background-color: var(--utrecht-color-white);
  --utrecht-page-header-max-width: 70rem;
  --utrecht-page-content-background-color: var(--utrecht-color-white);
  --utrecht-page-content-max-width: 70rem;

  /* --- navigation tokens start --- */

  /* nav */
  --utrecht-navigation-border-block-start-width: 1px;
  --utrecht-navigation-border-block-start-color: var(--utrecht-color-grey-80);
  --utrecht-navigation-border-block-end-width: 1px;
  --utrecht-navigation-border-block-end-color: var(--utrecht-color-grey-80);
  --utrecht-drawer-mobile-min-inline-size: 80%;

  /* nav-list */
  --utrecht-navigation-list-padding-inline-start: 5px;
  --utrecht-navigation-list-padding-inline-end: 5px;

  /* nav-item */
  --utrecht-navigation-item-padding-inline-start: 5px;
  --utrecht-navigation-item-padding-inline-end: 5px;

  /* link */
  --utrecht-navigation-link-background-color: var(--utrecht-color-white);
  --utrecht-navigation-link-border-color: none;
  --utrecht-navigation-link-border-inline-end-width: 0;
  --utrecht-navigation-link-color: var(--utrecht-color-black);
  --utrecht-navigation-link-focus-text-decoration-thickness: 1px;

  /* link-hover  */
  --utrecht-navigation-link-hover-color: var(--utrecht-color-blue-35);
  --utrecht-navigation-link-hover-background-color: var(--utrecht-color-white);
  --utrecht-navigation-mobile-hover-link-font-weight: normal;
  --utrecht-navigation-link-hover-decoration-thickness: 1px;

  /* --- navigation tokens end --- */

  /* --- spacing tokens start --- */
  --denhaag-space-besties: 4px;
  --denhaag-space-vrienden: 8px;
  --denhaag-space-kennissen: 16px;
  --denhaag-space-onbekenden: 32px;
  --denhaag-space-onbemindend: 64px;

  /* --- spacing tokens end --- */
  --utrecht-page-footer-background-image: linear-gradient(
    45deg,
    var(--utrecht-color-red-40),
    var(--utrecht-color-red-40) 50%,
    #d63433 50%
  );
  --utrecht-link-list-marker-background-image: url("https://pki.utrecht.nl/Loket/base/files/getImageAction.do?key=kl_pijltje-wit-SVG");

  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Overrides for Utrecht components */

.utrecht-page--full-width {
  --utrecht-page-margin-inline-start: 0;
  --utrecht-page-margin-inline-end: 0;
}

.utrecht-logo__wrapper {
  margin-block-end: var(--utrecht-logo-wrapper-margin-block-end, 16px);
  margin-inline-start: var(--utrecht-logo-wrapper-margin-block-start, 16px);
}

.utrecht-navigation--mobile:has(button[aria-expanded="false"]) {
  padding-inline-end: var(--utrecht-navigation-toggle-button-padding-end);
}

.utrecht-page-header {
  --utrecht-page-padding-inline-start: 0;
  --utrecht-page-padding-inline-end: 0;
  --utrecht-page-header-padding-block-end: 0;
  --utrecht-page-header-padding-block-start: 16px;

  background-color: var(--utrecht-document-background-color);
  container-type: inline-size;
  margin-inline: auto;
  max-width: var(--utrecht-page-header-max-width);
}

.utrecht-page-content--full-width {
  --utrecht-page-padding-inline-start: 0;
  --utrecht-page-padding-inline-end: 0;
  --utrecht-page-content-padding-block-start: 0;
  --utrecht-page-content-padding-block-end: 0;
}

.utrecht-custom-page-content {
  background-color: var(--utrecht-document-background-color);
}

.utrecht-page-content {
  container-type: inline-size;
  margin-inline: auto;
  max-width: var(--utrecht-page-content-max-width);
}

.utrecht-link-social {
  border-style: none !important;
}

.utrecht-image--banner {
  max-height: 300px;
  object-fit: cover;
}

.utrecht-skip-link-container p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.utrecht-button--print {
  margin-block: 1rem;
  margin-inline: 1rem;
}

@media print {
  .utrecht-accordion__panel {
    display: block;
  }

  .utrecht-button.utrecht-button--print {
    display: none;
  }

  .utrecht-navigation {
    display: none;
  }

  .utrecht-page-footer {
    display: none;
  }

  .utrecht-accordion__button[aria-expanded="false"]::after {
    display: none;
  }

  .utrecht-scroll-to-top-button {
    display: none !important;
  }
}

.utrecht-grid-mobile-hidden {
  --_utrecht-grid-display: none;
}

@container (min-width: 60rem) {
  .utrecht-grid-mobile-hidden {
    --_utrecht-grid-display: unset;
  }
}

@media screen and (width > 360px) {
  .utrecht-page-header {
    --utrecht-page-header-padding-block-start: 32px;
    --utrecht-logo-wrapper-margin-block-start: 32px;
    --utrecht-logo-wrapper-margin-block-end: 32px;
    --utrecht-navigation-toggle-button-padding-end: 32px;
  }
}

/* TODO remove the following code when this PR https://github.com/nl-design-system/utrecht/pull/2393 get merged */
.utrecht-accordion__header {
  margin-block-end: 0;
  margin-block-start: 0;
}
