.utrecht-print-page {
  --utrecht-heading-2-font-size: var(--utrecht-heading-4-font-size);
  --utrecht-heading-3-font-size: var(--utrecht-heading-4-font-size);
  --utrecht-heading-5-font-size: var(--utrecht-heading-4-font-size);
  --utrecht-heading-6-font-size: var(--utrecht-heading-4-font-size);
}

.utrecht-image {
  max-inline-size: 500px;
}
